.container{
    text-align: center;
    font-size:14px;
    font-weight: bold;
    color: #c57474d7;
    input{
        margin-left: 5px;
        width: 150px;
        border-radius: 2px;
        border: 0.5px solid;
    }
}

.box{
    margin-left:450px;
    width: 330px;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    border-color: #8f4d4d;
    button{
        width: 160px;
        height: 25px;
        background: #c57474d7;
        color: white;
        font-size: 14px;
        border-radius: 7px;
    }
}

.titulo{
    font-size: 32px;
    font-family: roboto;
}

.categorias{
    list-style-type: none;

    li{
        margin-left:400px;
        width: 350px;
        padding: .2em;
        background: rgba(212, 209, 209, 0.26);
        margin-bottom: 3px;
        color: black;
        cursor: pointer;
    }

    li:hover{
        color: red;
    }
}